# Set default behavior to automatically normalize line endings
* text=auto

# C# files
*.cs text diff=csharp

# Visual Studio project and solution files
*.sln text
*.csproj text
*.props text
*.targets text

# JSON and XML configs
*.json text
*.xml text
*.config text

# Treat Markdown files as text
*.md text

# Make shell scripts use LF
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.dll binary
*.exe binary
*.pdb binary
